* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #687fb1a9;
  color: #fff;
  padding: 2em;
  text-align: center;
}

.inputContainer {
  margin: 1em;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.jsonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jsonText {
  padding: 0.5em;
  text-align: left;
  font-size: 18px;
  color: #000;
}
